<!-- ../templates/form/form_start.html -->
{{ v(@formObject._method) }}
<form class="form <check if='{{ isset(@formObject._isAjax) && @formObject._isAjax }}'><true>ajax-form</true></check>"
      action="<check if='{{ isset(@formObject._action) }}'><true>{{ @formObject._action }}</true><false>#</false></check>"
      method="<check if='{{ isset(@formObject._method) }}'><true>{{ @formObject._method }}</true><false>GET</false></check>">