<!-- ../templates/form/input_text.html -->
<check if="{{ @@fieldObject->showLabel }}">
	<true>
		<label for="{{ @fieldObject->name }}">{{ @fieldObject->label }}</label>
		<br/>
	</true>
</check>
<input id="{{ @fieldObject->name }}"
       class="form-control js-spectrum"
       type="text"
       name="{{ @fieldObject->name }}"
       value="{{ @fieldObject->value }}">