<input id="{{ @fieldObject->name }}"
       class="form-control"
       type="checkbox"
       name="{{ @fieldObject->name }}"
<check if="{{ @fieldObject->value === true || @fieldObject->value === 1 }}">
    <true>checked</true>
</check>
>