<div id="slider_{{ @fieldObject->name }}">
	<div id="custom-handle_{{ @fieldObject->name }}" class="ui-slider-handle"></div>
</div>

<input id="{{ @fieldObject->name }}" name="{{ @fieldObject->name }}" value="{{ @fieldObject->value }}" type="hidden">
