<div class="pretty-checkbox">
    <input id="{{ @fieldObject->name }}"
           class="form-control"
           type="checkbox"
           name="{{ @fieldObject->name }}"
    <check if="{{ @fieldObject->value === true || @fieldObject->value === 1 }}">
        <true>checked</true>
    </check>
    >
    <label for="{{ @fieldObject->name }}">
        <span class="checkbox-helper"></span>
        <span class="checkbox-label">{{ @fieldObject->label }}</span>
    </label>
</div>