<!-- ../templates/form/input_text.html -->
<img class="img-responsive img-thumbnail js-media-thumbnail"
     src="{{ @fieldObject->media.filename }}">

<input type="hidden" name="{{ @fieldObject->name }}" value="{{ @fieldObject->value }}">

<button type="button" class="btn btn-info js-media-picker-trigger"
        data-mp-value-target="[name='{{ @fieldObject->name }}']"
        data-mp-image-target=".img-thumbnail"><i class="fa fa-picture-o" aria-hidden="true"></i> Choose
    Image
</button>