<!-- ../templates/form/input_radio.html -->
<div id="{{ @fieldObject->name }}"
     class="radio-group">
    <repeat group="{{ @fieldObject->values }}" key="{{ @value }}" value="{{ @label }}">
        <label>
            <input class="form-control" type="radio" value="{{ @value }}" name="{{ @fieldObject->name }}"
            <check if="{{ @value == @fieldObject->value}}">
                <true>
                    selected="selected"
                </true>
            </check>
            >
            {{ @label }}
        </label>
        <br>
    </repeat>
</div>

