<!-- ../templates/form/input_select.html -->
<select id="{{ @fieldObject->name }}"
        class="form-control"
        name="{{ @fieldObject->name }}"
        {{ @@field->required, 'required="required"', '' | _ternary}}
    <check if="{{ isset(@fieldObject->extras) }}">
        <repeat group="{{ @fieldObject->extras }}" key="{{ @key }}" value="{{ @value }}">
            {{ @key }}="{{ @value }}"
        </repeat>
    </check>
    >
    <repeat group="{{ @fieldObject->values }}" key="{{ @value }}" value="{{ @label }}">
        <option value="{{ @value }}"
        <check if="{{ @value == @fieldObject->value}}">
            <true>
                selected="selected"
            </true>
        </check>
        >{{ @label }}</option>
    </repeat>
</select>

