<!-- ../templates/form/input_number.html -->
<input id="{{ @fieldObject->name }}"
       class="form-control"
       type="number"
       name="{{ @fieldObject->name }}"
       value="{{ @fieldObject->value }}"
<check if="{{ isset(@fieldObject->extras) }}">
	<repeat group="{{ @fieldObject->extras }}" key="{{ @key }}" value="{{ @value }}">
		{{ @key }}="{{ @value }}"
	</repeat>
</check>
>
