<div class="form-group js-toggle-group {{ @fieldObject->name }}">
	<div for="{{ @fieldObject->name }}"
	     class="control-label js-toggle-trigger {{ @fieldObject->toggled, 'js-toggle-trigger-open','' | _ternary }} ">
		<i class="fa fa-plus " aria-hidden="true"></i>
		<label class="formGroup__content">{{ @fieldObject->label }}</label>
		
		<check if="{{ @fieldObject->required }}">
			<true>
				<small class="required-text"></small>
			</true>
		</check>
		
		<check if="{{ !empty(@fieldObject->selectedValueText) }}">
			<true>
				<small class="selected-value">({{ @fieldObject->selectedValueText }})</small>
			</true>
		</check>
	</div>
	
	<div class="js-toggle-target {{ @fieldObject->toggled,'open','' | _ternary }}">
		
		<check if="{{ isset(@fieldObject->instructions) }}">
			<true>
				<div class="help-block">{{ @fieldObject->instructions | raw }}</div>
			</true>
		</check>
		
		<check if="{{ @fieldObject->inputType === 'checkbox' }}">
			<true>
				<label for="{{ @fieldObject->name }}">{{ @fieldObject->label }}</label>
			</true>
		</check>
		
		{{ @fieldObject | smart_input }}
		
		<check if="{{ @@fieldObject->subFields }}">
			<true>
				<div class="row">
					
					<repeat group="{{ @fieldObject->subFields }}" key="{{ @key }}" value="{{ @obj }}">
						<div class="col-xs-6">
							
							<div class="form-group">
								{{ @obj | smart_input }}
							</div>
						
						</div>
					</repeat>
				</div>
			</true>
		</check>
	</div>
</div>