/* ../src/scss/molecules/_timer.scss */
html, body {
  height: 100%;
}

main {
  position: relative;
  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;
}

#timer {
  margin: 0 auto;
  height: 95vmin;
  width: 95vmin;
}

#timer-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}


.timer-set__wrap {
  margin-top: 40px;
}