<include href="common/head.html" />

<main class="main">
	
	<div id="timer">
		<canvas style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);">No canvas support</canvas>
		<div id="timer-left"></div>
	</div>
	
	<div class="container">
		<section class="timer-set__wrap">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label for="timer-value">Minutes</label>
						<input id="timer-value" class="form-control hidden" type="number" value="1" />
						
						<select id="timer-minutes" class="form-control">
							<repeat group="{{ @minutes }}" value="{{ @minute }}">
								<option value="{{ @minute }}" {{ @minute == @defaultMinute, 'selected', '' | _ternary }}>{{ @minute }}</option>
							</repeat>
						</select>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label for="timer-value">Seconds</label>
						<select id="timer-seconds" class="form-control">
							<repeat group="{{ @seconds }}" value="{{ @second }}">
								<option value="{{ @second }}" {{ @second == @defaultSecond, 'selected', '' | _ternary }}>{{ @second }}</option>
							</repeat>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button type="button" id="timer-start" class="btn btn-success">Start</button>
					<button type="button" id="timer-stop" class="btn btn-danger btn-lg">STOP</button>
					<button type="button" id="timer-reset" class="btn btn-info">Reset</button>
				</div>
			</div>
		</section>
	</div>

</main>

<include href="common/footer.html" />