<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="wisnet.com">
	<link rel="shortcut icon" href="{{ @CDN_URL }}/../favicon.png">
	
	<title>{{ !empty(@pageTitle), @pageTitle . ' | ', '' | _ternary }} Visual Countdown</title>
	
	<link rel="manifest" href="{{ @CDN_URL }}/manifest.json">
	
	<link rel="stylesheet" href="{{ @CDN_URL }}/assets/css/main.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<script src="{{ @CDN_URL }}/assets/js/vendor.min.js"></script>
	<script src="{{ @CDN_URL }}/assets/js/app.min.js"></script>
	
	<script id="vc-scripts">
		var BASE_URL = '{{ @BASE_URL }}';
		var ajax_url = '{{ @BASE_URL }}/ajax';
		var vcScripts = document.getElementById('vc-scripts');
		
		wisnet.App.setProp('params', {{ json_encode(@PARAMS) }});
		wisnet.App.setProp('routes', {{ json_encode(@routes) }});
		wisnet.App.setProp('currentRoute', '{{ @ALIAS }}');
		wisnet.App.setProp('timerDoneAudio', '{{ @CDN_URL }}/assets/audio/timer-done.mp3');
		
		vcScripts.parentNode.removeChild(vcScripts);
	</script>
	
	<script src="{{ @CDN_URL }}/assets/js/site.min.js"></script>
</head>
<body class="page {{ @@page }} page-{{ @ALIAS }}">